@charset "UTF-8";

/* Scaffolding and type
 ================================================== */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 720px) {
  html {
    font-size: 20px;
  }
}

html,
body {
  
}

body {
  margin: 0;
  font: 1rem/1.5 "Open Sans", sans-serif;
  color: #333;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #aaa;
  background-color: white;
}

h1 {
  font-size: 3rem;
}

.icon-wrapper {
  width: 75%;
  margin: 0 auto;
}

.block-link {
  text-decoration: none;
}

.block-link:hover {
  text-decoration: none;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px rgba(0, 137, 255, 0.5);
}

/*
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 5rem;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 30rem;
  border: 1px solid black;
  border-radius: .4rem;
  height: 30rem;
}

header {
  align-self: flex-start;
}

.Aligner {
  display: flex;
  align-items: center;
  height: 24em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  position: relative;
  top: 5rem;
  width: 30rem;
  border: 1px solid #333;
}

.Aligner-item {
  flex: 1;
  border: 1px solid red;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

nav {
  display: flex;
  flex-direction: row;

}

a {
  flex: 1;
  padding: 2rem;
}
*/


/*
 * Basscss Flex Object
 */

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.flex-last {
  -webkit-box-ordinal-group: 1025;
  -webkit-order: 1024;
      -ms-flex-order: 1024;
          order: 1024;
}

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.flex > div {
  box-sizing: border-box;
}

@media (min-width: 40em) {
  .sm-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .sm-flex > div {
    box-sizing: border-box;
  }
}

@media (min-width: 52em) {
  .md-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .md-flex > div {
    box-sizing: border-box;
  }
}

@media (min-width: 64em) {
  .lg-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .lg-flex > div {
    box-sizing: border-box;
  }
}